.detail-container{
    /* border: 2px solid black; */
    display: flex;
   justify-content: space-around;
}
.detail-leftsidediv img{
    width:35vw;
    height:50vh;
}
.detail-leftsidediv{
    /* border:2px solid red; */
    min-width:45vw;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.474);
    min-height:40vh;
   padding-top: 16vh;
   
}
.detail-rightsidediv{
     padding:10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.474);
    min-width:45vw;
    min-height:30vh;
    text-align:center;
    line-height: 24px;
}
.detail-rightsideinnerdiv{
    text-align:left;
}

.detail-Price-of-All{
    color: skyblue;
}
.detail-modelname{
    margin: auto;
}
/* p{
    font-size: 25px;
} */
.detail-detailpada-p{
font-size: 25px;
}
.detail-buttonforAll{
    background-color: rgba(0, 0, 0, 0.735);
    color:white;
    height:5vh;
    width:10vw;
    margin: auto;
    text-align: center;
  }
  .detail-buttonforAll:hover{
    border-radius: 10px;
  }


@media screen and (max-width:500px) and (min-width:280px){
.detail-container{
flex-direction: column;
}

.detail-buttonforAll{
    
    height:5vh;
    width:60vw;
   
  }
  .detail-rightsideinnerdiv{
    text-align:center;
   
}
.detail-leftsidediv img{
    width:90vw;
    height:30vh;
    margin: auto;

}
.detail-leftsidediv{
   padding-top: 3vh ;
}
.detail-detailpada-p{
    font-size: 16px;
}

}

@media screen and (max-width:1050px) and (min-width:501px){
    .detail-container{
    flex-direction: column;
    }
    
    .detail-buttonforAll{
        
        height:5vh;
        width:50vw;
        font-size: 24px;
       
      }
      .detail-rightsideinnerdiv{
        text-align:center;
       
    }
    .detail-leftsidediv img{
        width:50vw;
        height:30vh;
        margin: auto;
    
    }
    .detail-leftsidediv{
       padding-top: 3vh ;
    }
    .detail-detailpada-p{
        font-size: 20px;
    }
    
    }