/* home... */

.home-maincontainer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .home-conatiner{

    display:flex;
    /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.474); */
    justify-content: space-between;
    flex-wrap: wrap;
    gap:10px;
    flex-direction: row;
    padding: 10px 10px;
    text-align: center;
   
  }

  .home-child_containercard-image img{

    height:24vh; 
    
    width:15vw;
    border-radius: 5px ;
   /* border: 1px solid black; */
   /* box-shadow: 0px 0px 4px black; */
    /* border: 1px solid green; */
  }
  .home-child_conatinercard{
    height: 50vh;
    width: 22vw;
    /* border-radius: 20px; */
    box-shadow: 0px 0px 4px black;
    /* border: 2px solid black; */
    align-items: center;
    margin-top: 10px;
    line-height: 1vw;
    transition: 0.5s;
   
  }
  .home-child_conatinercard:hover{
 
    transform:translateY(-8px);
  }
  .home-commonbutton{
    background-color: rgba(0, 0, 0, 0.735);
    color:white;
    height:5vh;
    width:10vw;
  }
  .home-commonbutton:hover{
    border-radius: 10px;
  }

  .parentcontainer{
    margin-top: 20px;
  display: flex;
  justify-content: space-around;
  padding:10px;
  }
  .child{
    height:40vh;
    width:25vw;
   box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.456);
    padding: 8px;
  }
  /* child1 icon */
  .fa-truck{
    color:orange;
    font-size: 50px;
  }
  .fa-truck:hover{
    color:lightgrey;
  }

.child1description{
width:100%;
height:auto;
  }

  /* child2 icon */
  .fa-recycle{
    color:orange;
    font-size: 50px;
  }
  .fa-recycle:hover{
    color:lightgrey;
  }
  .child2description{
    width:100%;
    height:auto;
      }

/* child3 icon */
.fa-headphones-simple{
  color:orange;
  font-size: 50px;
}
.fa-headphones-simple:hover{
  color:lightgrey;
}
.child3description{
  width:100%;
  height:auto;
    }
    .home-loadmore{
      margin-top: 20px;
      background-color: skyblue;
      color:white;
      height:8vh;
      font-size: 18px;
      width:17vw;
    }
  

/* media query mobile.... */

    @media screen and (max-width:500px) and (min-width:280px){

      .home-conatiner{
    
        flex-direction: column;
        width:99vw;
  
      }
      .home-child_conatinercard{
        width:90vw;
       padding-top: 10px;
       margin: auto;
      }
      .home-child_containercard-image img{
        width:85vw;
        height:28vh;
      }
      .home-commonbutton{
        width:60vw;
      }
      .child{
        height:auto;
        width:90vw;
        margin: auto;
       box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.456);
        padding: 0px;
      }
      .parentcontainer{
      flex-direction: column;
      gap:20px;
      
      }
      .childdescription{
        font-size: 14px;
      }
    }


    /* Tab view.... */
    @media screen and (max-width:1050px) and (min-width:501px){
      
      .home-conatiner{
    
        /* flex-direction: column; */
        width:99vw;
  
      }
      .home-child_conatinercard{
        width:45vw;
        height:42vh;
       padding-top: 10px;
       margin: auto;
      }
      .home-child_containercard-image img{
        width:30vw;
        height:20vh;
      }
      .home-commonbutton{
        width:30vw;
      }
      .child{
        height: 25vh;
        width: 35vw;
        margin: auto;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.456);
        padding: 0px;
      }
      .parentcontainer{
      /* flex-direction: column; */
      gap:20px;
      
      }
      .childdescription{
        height:auto;
        font-size: 12px;
      }
    
    }
   
   
   

