/* electronics... */

.electronics-maincontainer{
    display: flex;
    
    justify-content: space-between;
    margin-top: 10px;
  }
  .electronics-conatiner{
    width: 76vw;
    display:flex;
    /* border: 1px solid red; */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.474);
    justify-content: space-between;
    flex-wrap: wrap;
    gap:10px;
    flex-direction: row;
    padding: 10px 10px;
    text-align: center;
   
  }

 
  .electronics-sidediv{
    display: flex;
    flex-direction: column;
   gap:20px;
    width: 20vw;
    height:55vh;
    
    margin-top:6%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.474);
     background-color: lightgray;
    padding-top: 40px;
     align-items: center;
  }
  .splnames{
    color:black;
  }

  .electronics-child_containercard-image img{

    height:23vh; 
    width:13vw;
    border-radius: 5px ;
   /* box-shadow: 0px 0px 4px black; */

  }
  .electronics-child_conatinercard{
   height: 55vh;
    width: 18vw;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 0px 4px black;
    align-items: center;
    margin-top: 10px;
    transition: 0.5s;
   
  }
  .electronics-child_conatinercard:hover{
 
    transform:translateY(-8px);
  }

  .electronics-commonbutton{
    background-color: rgba(0, 0, 0, 0.735);
    color:white;
    height:5vh;
    width:10vw;
  }
  .electronics-commonbutton:hover{
    border-radius: 10px;
  }
  .specialdivnavlink{
    color:black;
    text-decoration: none;
  }
  .electronics-loadmore{
    margin-top: 20px;
    background-color: skyblue;
    color:white;
    height:8vh;
    font-size: 18px;
    width:17vw;
  }




  /* media ouery mobile view......................... */
  @media screen and (max-width:500px) and (min-width:280px){

    .electronics-conatiner{
  
      flex-direction: column;
      width:99vw;

    }
    .electronics-child_conatinercard{
width:90vw;
margin: auto;
    }
    .electronics-child_containercard-image img{
      width:85vw;
      height:28vh;
    }
    .electronics-commonbutton{
      width:60vw;
    }
    .electronics-sidediv{
      display:none;
    }
    .electronics-child_conatinercard{
      height:59vh;
    }


  }



      /* Tab view.... */
      @media screen and (max-width:1050px) and (min-width:501px){
      
        .electronics-conatiner{
      
          /* flex-direction: column; */
          width:99vw;
    
        }
        .electronics-sidediv{
          display:none;
        }
        .electronics-child_conatinercard{
          width:45vw;
          height:42vh;
         padding-top: 10px;
         margin: auto;
        }
        .electronics-child_containercard-image img{
          width:30vw;
          height:20vh;
        }
        .electronics-commonbutton{
          width:30vw;
        }

      }