/* laptop... */

.laptop-maincontainer{
    display: flex;
    /* border: 2px solid green; */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.474);
    justify-content: space-between;
    margin-top: 10px;
  }
  .laptop-conatiner{
    width: 76vw;
    display:flex;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.474);
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 10px;
    gap:10px;
    flex-direction: row;
    text-align: center;
  }

 
  .laptop-sidediv{
    display: flex;
    flex-direction: column;
   gap:20px;
    width: 20vw;
    height:55vh;
    margin-top:6%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.474);
     background-color: lightgray;
    padding-top: 40px;
     align-items: center;
    
  }
  .laptop-child_containercard-image img{

    height:23vh; 
    width:13vw;
    border-radius: 5px ;
   /* box-shadow: 0px 0px 4px black; */

  }
  .laptop-child_conatinercard{
   height: 55vh;
    width: 18vw;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 0px 4px black;
    align-items: center;
    margin-top: 10px;
    transition: 0.5s;
   
  }
  .laptop-child_conatinercard:hover{
 
    transform:translateY(-8px);
  }

  .laptop-commonbutton{
    background-color: rgba(0, 0, 0, 0.735);
    color:white;
    height:5vh;
    width:10vw;
  }
  .laptop-commonbutton:hover{
    border-radius: 10px;
  }
  .specialdivnavlink{
    color:black;
    text-decoration: none;
  }
  .laptop-loadmore{
    margin-top: 20px;
    background-color: skyblue;
    color:white;
    height:8vh;
    font-size: 18px;
    width:17vw;
  }




  /* media ouery mobile view......................... */
  @media screen and (max-width:500px) and (min-width:280px){

    .laptop-conatiner{
  
      flex-direction: column;
      width:99vw;

    }
    .laptop-child_conatinercard{
width:90vw;
margin: auto;
    }
    .laptop-child_containercard-image img{
      width:72vw;
      height:28vh;
    }
    .laptop-commonbutton{
      width:60vw;
    }
    .laptop-sidediv{
      display:none;
    }
    .laptop-child_conatinercard{
      height:59vh;
    }

    .laptop-loadmore{
      
      width:60vw;
    }
  


  }

    /* Tab view.... */
    @media screen and (max-width:1050px) and (min-width:501px){
      
      .laptop-conatiner{
    
         /* flex-direction: column;  */
        width:99vw;
  
      }
      .laptop-sidediv{
        display:none;
      }
      .laptop-child_conatinercard{
        width:45vw;
        height:42vh;
       padding-top: 10px;
       margin: auto;
      }
      .laptop-child_containercard-image img{
        width:30vw;
        height:20vh;
      }
      .laptop-commonbutton{
        width:30vw;
      }
      .laptop-loadmore{
      
        width:60vw;
        font-size: 20px;
      }

    }