.single-container{
    /* border: 2px solid black; */
    display: flex;
   justify-content: space-around;
}
.single-leftsidediv img{
    width:35vw;
    height:50vh;
}
.single-leftsidediv{
    /* border:2px solid red; */
    min-width:45vw;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.474);
    min-height:40vh;
   padding-top: 16vh;
   
}
.single-rightsidediv{
     padding:10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.474);
    min-width:45vw;
    min-height:30vh;
    text-align:center;
    line-height: 24px;
}
.single-rightsideinnerdiv{
    text-align:left;
}

.single-Price-of-All{
    color: skyblue;
}
.single-modelname{
    margin: auto;
}
/* p{
    font-size: 25px;
} */
.single-detailpada-p{
font-size: 25px;
}
.single-buttonforAll{
    background-color: rgba(0, 0, 0, 0.735);
    color:white;
    height:5vh;
    width:10vw;
    margin: auto;
    text-align: center;
  }
  .single-buttonforAll:hover{
    border-radius: 10px;
  }


@media screen and (max-width:500px) and (min-width:280px){
.single-container{
flex-direction: column;
}

.single-buttonforAll{
    
    height:5vh;
    width:60vw;
   
  }
  .single-rightsideinnerdiv{
    text-align:center;
}
.single-leftsidediv img{
    width:90vw;
    height:55vh;
    margin: auto;

}
.single-leftsidediv{
   padding-top: 3vh ;
}

}

@media screen and (max-width:1050px) and (min-width:501px){

    .single-container{
        flex-direction: column;
        }
        
        .single-buttonforAll{
            
            
        height:5vh;
        width:50vw;
        font-size: 24px;
           
          }
          .single-rightsideinnerdiv{
            text-align:center;
        }
        .single-leftsidediv img{
            width:50vw;
            height:30vh;
            margin: auto;
        
        }
        .single-leftsidediv{
           padding-top: 3vh ;
        }
        .detail-detailpada-p{
            font-size: 20px;
        }


}